* {
	box-sizing: border-box;
}

.mainBody{
    .button-54{
        background-color:  whitesmoke;
    }
    label{
        display: flex;
        margin-top: 20px;
        margin-bottom: -5px;
        color: whitesmoke;
        font-size: 33px;
    }
    .refreshPage{
        display: flex;
        justify-content: center;
        justify-items: center;
        .button-54{
            height: 60px;
            background-color: #e5faf3;
            color: #44d364;
            white-space: nowrap;
            overflow:auto;
            text-overflow:clip;
        }
    }
}



@media only screen and (max-width: 1000px) {
.mainBody{
    height: 85vh;
    margin-left: 5vw;
    .refreshPage{
        width: 90vw;
    }
}
}


@media only screen and (min-width: 1000px) {
.mainBody{
    .refreshPage{
        margin-top: 40px;
    }

}
}


.inputBlock{


    option{
        font-size: 30px;
        font-family: 'Luminari';

    }

display: flex;
margin-bottom: 20px;
height: 66px;
margin-top: 10px;

input{
    border-radius: 4px;
    border: 2px;
    border-style: solid;
    border-color: rgb(171, 171, 171);
    width: 550px;
    background-color: whitesmoke;

}
select{
    background-color: whitesmoke;
    width: 250px;

}
#maxYearSelect{
    margin-left:50px;
}
    .button-54{
        height: 60px;
        background-color: rgb(98, 98, 98);
        color: whitesmoke;
        margin-left: 40px;
        width: 200px;
    }
}

@media only screen and (max-width: 1000px) {
    
    .inputBlock{
        height: 150px;
        display: block;
        justify-content: center;
        justify-items: center;
        div{
            height: 60px;
            justify-content: center;
            justify-items: center;
            width: 90 vw;
            select{
                height: 60px;
                width: 40vw;
                font-size: 33px;
            }
            #maxYearSelect{
                margin-left:10vw;
            }
            button{
                height: 56px;
                display: flex;
                margin: 0;
                margin-top: 20px;
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
                justify-items: center;
                width: 84vw;
                margin-left: 3vw;
                margin-right: 3vw;
            }
        }


        input{
            height: 60px;
            width: 90vw;
        }
        
        }
}


button{

}

@media only screen and (min-width: 1000px) {
.bottomButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        margin-left: 30px;
        margin-right: 30px;
        display: flex;

        margin-top: 20px;
    }
}
}

@media only screen and (max-width: 1000px) {
    .bottomButtons{
        display: block;
        button{
            margin: 0px;
            margin-top: 25px;
            justify-content: center;
            align-items: center;
            justify-items: center;
            width: 84vw;
            margin-left: 3vw;
            white-space: nowrap;
            overflow:auto;
            text-overflow:clip;
        }

    }

}


ul {

    border-radius: 4px;
    border: 2px;
    border-style: solid;
    border-color: rgb(171, 171, 171);
	list-style-position: inside;
	width: 600px;
	max-width: 100%;
	background: whitesmoke;
	box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
	padding: 0;
	margin: 0;
	border-radius: 0.1rem;
    font-size: 40px;
      
}

nav{
    margin-top: 20px;
}

.inputBlock{width:800px;}
nav ul{min-height: 40px;max-height:60vh; width:800px;}
nav ul{overflow:hidden; overflow-y:scroll;}

@media only screen and (max-width: 1000px) {

    nav ul{max-height:50vh;width:90vw;}
    ul{width: 90vw;     }
    .inputBlock{width: 90vw;}
}

li {


	padding-left: 30px;
    color: black;
    font-size: 35px;

    div{
        display:inline-block;


        margin: -3px;
        margin-left: 0px;
    p{

        display:inline-block;
        margin: 0px;
        padding: 0px;
        margin-bottom: -20px;

        justify-content: left;
        align-items: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow:clip;
        font-size: 35px;
        width: 660px;
        overflow-x:scroll;
    }

    i{
            text-shadow: 0px 1px 1px black;
            color: rgb(171, 171, 171);
          

        color: #fb345c;
        display:inline-block;
        cursor: pointer;

        justify-content: right;
        align-items: right;
        font-size: 35px;
        margin-left: 20px;

        width: 50px;
    }
    i:hover{
        text-shadow: 1px 3px 5px black;
      }
}
}


@media only screen and (max-width: 1000px) {

li{
    padding-left: 10px;
    div{
        p{
            margin-left: -5px;
            width: 65vw;
        }
        i{
            margin-left: 2vw;
            margin-right: 5px;
            width: 5vw;
        }
    }
}
}

li {
	border-bottom: 1px solid rgb(98, 98, 98);
    height: 52px;
}
li:first-child {
	margin-top: 1rem;
}
li:last-child {
	margin-bottom: 1rem;
}


