<div class="mainBody">
    <div class="inputBlock">
        <input type="text" [(ngModel)]="str" placeholder="Enter query" required>
        <button [disabled]="str == ''" class="button-54"  type="button" (click)="addStr()">Add</button>
    </div>
    
    <nav>
    <ul>
        @for (str of searchStrings; track str; let idx = $index) 
        {
            <li><span><p>{{str}}</p></span>  <i class="fa fa-trash-o" (click)="deleteStr(idx)"></i></li>
        }
    </ul>
    
    </nav>
    <div class="bottomButtons">
            <button class="button-54"  type="button" (click)="onSubmit()">Save</button>
            <button class="button-54"  type="button" (click)="resetToDefault()">Reset to <span>default</span></button>
    </div>
</div>

