* {
	box-sizing: border-box;
}

body {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.4rem;
	background: whitesmoke;
	margin: 0;
	padding: 1rem;
	display: grid;
	place-items: center;
}

@media only screen and (max-width: 1000px) {
.mainBody{
    height: 83vh;
    
}
}

.mainBody{
    top: initial;
}

.inputBlock{

display: flex;
margin-bottom: 20px;
height: 66px;
margin-top: 130px;

input{
    border-radius: 2px;
    border: 1px;
    border-style: solid;
    border-color: lightblue;
    width: 550px;
}

    .button-54{
        height: 60px;
        background-color: rgb(98, 98, 98);
        color: whitesmoke;
        margin-left: 40px;
        width: 200px;
    }
}

@media only screen and (max-width: 1000px) {
    
    .inputBlock{
        margin-top: 5px;


        
        margin-bottom: 20px;
        height: 66px;
        width: 90vw;

        input{
            width: 55vw;
        }
        
            .button-54{
                height: 60px;
                background-color: rgb(98, 98, 98);
                color: whitesmoke;
                margin-right: 10px;
                margin-left: 20px;
                width: 28vw;
            }
        }
}



.bottomButtons{
    button{
        display: block;
        margin: auto;
        height: 70px;
        margin-top: 30px;
        width: 500px;

    }
}
@media only screen and (max-width: 1000px) {
    .bottomButtons{
        button{
            width: 90vw;
            white-space: nowrap;
            overflow:auto;
            text-overflow:clip;
        }

    }

}


ul {
    
    border-radius: 2px;
    border: 1px;
    border-style: solid;
    border-color: lightblue;
	list-style-position: inside;
	width: 600px;
	max-width: 100%;
	background: white;
	box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
	padding: 0;
	margin: 0;
	border-radius: 0.1rem;
}

nav ul{min-height: 10vh;max-height:60vh; width:800px;}
nav ul{overflow:hidden; overflow-y:scroll;}

@media only screen and (max-width: 1000px) {

    nav ul{max-height:50vh;width:90vw;}
    ul{width: 90vw;     }
}

li {
    
    height: 55px;
	padding: 0 0 0 1rem;
    padding-top: 15px;
    color: black;

    p{
        height: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 20px;
        margin-top: -23px;
        padding-top: 15px;
        font-size: 35px;
        width: 65vw;
    }

    i{

        display: flex;
        justify-content: right;
        align-items: right;
        margin-top: -65px;
        margin-right: 12px;
    }
}

@media only screen and (min-width: 1000px) {

li{
    p{
        width: 710px;
    }
}
}

li {
	border-bottom: 1px solid lightblue;
}

li:first-child {
	margin-top: 1rem;
}

li:last-child {
	margin-bottom: 1rem;
}


