<div class="mainBody">
    <div class="inputBlock">
        <input type="text" [(ngModel)]="str" placeholder="Enter query" required>
        <button [disabled]="str == ''" class="button-54"  type="button" (click)="addStr()">Add</button>
    </div>
    
    <nav>
    <ul>
        @for (str of searchStrings; track str; let idx = $index) 
        {
            <li><p>{{str}}</p>  <i class="fa fa-trash-o" (click)="deleteStr(idx)"></i></li>
        }
        @if(searchStrings.length == 0)
        {
            <li><p style="color: red;">Queries list is empty</p></li>
        }
    </ul>
    
    </nav>
    <div class="bottomButtons">
        <button style="color: green;" class="button-54"  type="button" (click)="onSubmit()">Save</button>
        <button style="color: rgb(208, 0, 0);" class="button-54"  type="button" (click)="deleteAllStrs()">Delete all</button>

    </div>
    <div class="bottomButtons">
        <button class="button-54"  type="button" (click)="resetToDefault()">Reset to default</button>
    </div>
</div>


