<div class="mainImage">
    <!-- <div *ngIf="isShow" class="imgSrcAndTitle">
      <div><a  href="{{ photo.webUrl }}" target=”_blank” class="imgSrc"><button class="button-54" type="button">Image source</button></a></div>
    </div> -->
    <div  #target></div>
      <pinch-zoom backgroundColor="rgba(0,0,0,0.85)" [style]="resizePinchZoom()">
        <img [style]="resizeImage()" src="{{ photo.imageUrl }}" medPinchZoom=" autoZoomOut: true "/>
        <i  [class]="getExpandOrCompressIconClass()" (click)="isImgFullScreen = !isImgFullScreen;"></i>
    </pinch-zoom>
    <div *ngIf="isShow" class="imgSrcAndTitle">
      <div>          <h3>{{photo.title}}</h3></div>
    </div>
  </div>