
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@font-face {
    font-family: 'Seasrn';
    src: url('/Users/andrebond777/Desktop/Projects/Flickr/Flickr/src/assets/fonts/SeasideResortNF/SEASRN__.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (min-width: 1201px) {

    .resultsClass{
        width: 1200px;
        display: inline-block;
        display: flex;
        justify-content: space-between;
        margin-bottom: -70px;
    }
  }

  @media only screen and (max-width: 1200px) {
    .resultsClass{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
      }
}



span{  
    font-weight: 1000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(138, 138, 138);
}
.scoreClass{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: -5px;

    div{
        margin-top: -10px;
    }
    font-family: 'Luminari';
    font-size: 40px;
    h1{
        height: 60px;
        padding-bottom: 0px;
        display: inline-block;
        font-size: 40px;
        font-family: 'Luminari';
        color: rgb(82, 82, 82);
        text-align: justify;  /* For Edge */
        text-align-last: center;
        margin: 0;

    }
    height: 60px;
    border-width: 3px;
    border-radius: 10px;
    border-style: double;
    width: 500px;
    background-color: whitesmoke;

}


.yearTakenClass{
    display: flex;
    justify-content: center;
    align-items: center;
    h1{    
        display: inline-block;
        font-size: 40px;
        font-family: 'Luminari';
        color: rgb(82, 82, 82);
        text-align: justify;  /* For Edge */
        text-align-last: center;
        margin: auto;
        
    }
    height: 60px;
    border-width: 3px;
    border-radius: 10px;
    border-style: double;
    width: 500px;
    background-color: whitesmoke;
    margin-top: 40px;
    margin-bottom: -10px;
}
@media only screen and (max-width: 1200px) {
    .yearTakenClass{

        height: 60px;
        margin-top: 20px;

        width: 90vw;
    }
    .scoreClass{

        width: 90vw;
    }

}

header {

    height: 65px;

    background-color: whitesmoke;
    div{

        display: flex;
        justify-content: center;
    }
    h1{
        margin-top: 4px;
        font-family: 'Luminari';
        font-size: 40px;
        color: rgb(82, 82, 82);
    }
    i{
        display: flex;
        justify-content: end;
        margin-top: -67px;
        margin-right: 15px;
        font-size: 50px;

        cursor: pointer;

    }
    .fa.fa-gear {
        text-shadow: 0px 2px 5px black;
        color: rgb(171, 171, 171);
      }
}

.guess{
    font-family: 'Luminari';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-bottom: -20px;
    font-size: 40px;
}

@media only screen and (max-width: 1200px) {
    .guess{
        margin-top: 50px;
        margin-bottom: -20px;
    }
}


.totalScoreClass{
    font-family: 'Luminari';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 40px;
    color: whitesmoke;
    background-color: rgb(82, 82, 82);

    label{  

        margin-left: 10px;
    }
}


.mainContainer{
    font-family: 'Luminari';
    font-size: 40px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(82, 82, 82);
    flex-direction: column;
    padding-bottom: 50px;

    // app-settings{
    //     height: 1000px;
    // }

    .mainImage{

        .imgSrcAndTitle{
margin-top: -10px;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 5px;
                text-align: center;
                @media only screen and (max-width: 1200px) {
                h2{
                    width: 90vw;
                }
            }
            }

        }
        margin-bottom: -15px;
    }

    pinch-zoom{
        border-style: double;
        border-width: 10px;
        border-color: whitesmoke;
        min-height: 40vh;
        max-height: 75vh;
    }

    button{
        margin-top: 50px;
      }


    @media only screen and (max-width: 1200px) {

        button{
            margin-top: -10px;
        }
        .mainImage{
            margin-top: 15px;
            flex: 0 0 auto;
        }

    }

}

progress{
    width: 488px;
}

@media only screen and (max-width: 1200px) {
    progress{
        width: 88vw;
    }
}

@media only screen and (min-width: 1000px) {
    .mainImage{

        margin-top: 20px;
        width: 1024px;
    }
    .nextRoundEndGameButtons{
        margin-top: -20px;
    }
}

pinch-zoom{
    background-color: rgb(82, 82, 82);
}


.imgSrc{
    button{
        background-color: rgb(82, 82, 82);
        margin-top: 20px;
      }

    .button-54{
        color: whitesmoke;
    }
}