

@media only screen and (min-width: 1201px) {

    .resultsClass{
        width: 1200px;
        display: inline-block;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
    }
  }

  @media only screen and (max-width: 1200px) {
    .resultsClass{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
      }
}



span{  
    font-weight: 1000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(138, 138, 138);
}
.scoreClass{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: -5px;

    div{
        margin-top: -10px;
    }
    font-family: 'Luminari';
    font-size: 40px;
    h1{
        height: 60px;
        padding-bottom: 0px;
        display: inline-block;
        font-size: 40px;
        font-family: 'Luminari';
        color: rgb(82, 82, 82);
        text-align: justify;  /* For Edge */
        text-align-last: center;
        margin: 0;

    }
    height: 60px;
    border-width: 3px;
    border-radius: 10px;
    border-style: double;
    width: 500px;
    background-color: whitesmoke;

}


.yearTakenClass{
    display: flex;
    justify-content: center;
    align-items: center;
    h1{    
        display: inline-block;
        font-size: 40px;
        font-family: 'Luminari';
        color: rgb(82, 82, 82);
        text-align: justify;  /* For Edge */
        text-align-last: center;
        margin: auto;
        
    }
    h2{
        display: inline-block;
        font-size: 25px;
        font-family: 'Luminari';
        color: rgb(82, 82, 82);
        text-align: justify;  /* For Edge */
        text-align-last: center;
        margin: auto;
    }
    height: 60px;
    border-width: 3px;
    border-radius: 10px;
    border-style: double;
    width: 500px;
    background-color: whitesmoke;
    margin-top: 40px;
    margin-bottom: -10px;
}
@media only screen and (max-width: 1200px) {
    .yearTakenClass{

        height: 60px;
        margin-top: 20px;

        width: 90vw;
    }
    .scoreClass{

        width: 90vw;
    }

}

header {

    height: 65px;

    background-color: whitesmoke;
    div{

        display: flex;
        justify-content: center;
    }
    h1{
        margin-top: 5px;
        font-family: 'Luminari';
        font-size: 40px;
        color: rgb(82, 82, 82);
    }
    i{
        float: right;
        margin-top: -66px;
        font-size: 50px;
        width: 70px;
        cursor: pointer;
        @media only screen and (max-width: 1200px) {
            width: 50px;
        }

    }
    .fa.fa-gear {
        text-shadow: 0px 1px 4px black;
        color: rgb(171, 171, 171);
      }
      .fa.fa-gear:hover{
        text-shadow: 1px 3px 5px black;
      }
}

.guess{
    font-family: 'Luminari';
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-bottom: -20px;
    font-size: 40px;
}

@media only screen and (max-width: 1200px) {
    .guess{
        margin-top: 50px;
        margin-bottom: -20px;
    }
}


.totalScoreClass{
    font-family: 'Luminari';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 40px;
    color: whitesmoke;
    background-color: rgb(82, 82, 82);
    .button-54{
        background-color: rgb(82, 82, 82);
    }
    label{  

        margin-left: 10px;
    }
}


.mainContainer{
    padding-bottom: 40px;
    font-family: 'Luminari';
    font-size: 40px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(82, 82, 82);
    flex-direction: column;

    margin: auto;
    // app-settings{
    //     height: 1000px;
    // }

    #submit{



        
            background-color: rgb(82, 82, 82);
            color: whitesmoke;
    
    }

    .imageMap{
        width: 95vw;
        display: inline-block;
        display: flex;
        justify-content: center;
        
        app-map{
            margin-top: 20px;
            margin-left: 30px;
            float: right;
            flex-shrink: 1;
            width: 100%;
block-size: fit-content;
margin-bottom: -20px;
        }
        app-image{
            flex-shrink: 0;
            margin-bottom: 20px;
        }
    }



    button{
        margin-top: 50px;
      }


    @media only screen and (max-width: 1200px) {

        button{
            margin-top: -10px;
        }
    }

}

progress{
    width: 488px;
}

@media only screen and (max-width: 1200px) {
    progress{
        width: 88vw;
    }
        .nextRoundEndGameButtons{
        .button-54{
            background-color: rgb(82, 82, 82);
            color: whitesmoke;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .nextRoundEndGameButtons{
        .button-54{
            margin-top: 0px;
            background-color: rgb(82, 82, 82);
            color: whitesmoke;
        }
    }
}





.newGame{
    
}