<ng-toast></ng-toast>
<div  *ngIf="displaySettings">
  <header>
    <!-- <div clas="newGame">
      <button class="button-54" type="button" (click)="reloadPage()">New Game</button>
    </div> -->
    <div>
      <h1>Settings</h1>
    </div>
    <span *ngIf="searchStrings.length == 0">
    <i  style="color:#fb345c" class="fa fa-gear"(click)="toggleSettings()"></i>
    </span>
    <span *ngIf="searchStrings.length > 0">
      <i  class="fa fa-gear"(click)="toggleSettings()"></i>
    </span>
  </header>
  <div class="mainContainer">
    <app-settings [searchStrings]="searchStrings"></app-settings>
  </div>
</div>

<div *ngIf="!displaySettings">
  <h1 class="totalScoreClass" *ngIf="displayAllRounds">
    Best score <label [ngStyle]="getColor(getBestScore() / maxRoundNumber)">{{getBestScore()}}</label>
  </h1>
  
  <h1 class="totalScoreClass" *ngIf="displayAllRounds">
    <button class="button-54" type="button" (click)="reloadPage()"
    [ngStyle]="getColor(totalScore / maxRoundNumber)">New Game</button>
  </h1>
    
    <h1 class="totalScoreClass" *ngIf="displayAllRounds">
      Current score <label [ngStyle]="getColor(totalScore / maxRoundNumber)">{{totalScore}}</label>
    </h1>
  
  <div *ngIf="roundNumber >= photos.length">
    <header>
      <div>
        <h1>...</h1>
      </div>
      <span *ngIf="searchStrings.length == 0">
        <i  style="color:#fb345c" class="fa fa-gear"(click)="toggleSettings()"></i>
      </span>
      <span *ngIf="searchStrings.length > 0">
        <i  class="fa fa-gear"(click)="toggleSettings()"></i>
      </span>
    </header>
    <div #Loading class="mainContainer">Loading...</div>
  </div>
  
  
  <div *ngFor="let ph of photos; index as i">
  <div *ngIf="displayAllRounds || i == roundNumber">
    <header>
      <div>
        <h1>Round {{i+1}} of {{maxRoundNumber}}</h1>
      </div>
      <span *ngIf="searchStrings.length == 0">
        <i  style="color:#fb345c" class="fa fa-gear"(click)="toggleSettings()"></i>
      </span>
      <span *ngIf="searchStrings.length > 0">
        <i  class="fa fa-gear"(click)="toggleSettings()"></i>
      </span>
    </header>
  
    <div class="mainContainer">

        <div #target></div>
        <div class="imageMap">
          <app-image [isShow]="isShow" [photo]="ph"></app-image>
            <app-map *ngIf="enableGeo" (clickEvent)="calculateGeoScore($event)" [requestValEvent]="requestGeoValues.asObservable()"
            [actualCoordinates]="actualMarkers[i]" [inputCoordinates]="answerMarkers[i]"></app-map>


        </div>
      <div *ngIf="isShow" class="resultsClass">
            <div class="yearTakenClass">
              
              <a  href="{{ ph.webUrl }}" target=”_blank” class="imgSrc"><h2>{{ph.title}}</h2></a>
            </div> 
            <div class="scoreClass" *ngIf="enableYear">
              <h1 >Year score &nbsp;<h1 [ngStyle]="getColor(yearScores[i])">  <span> {{ yearScores[i] }}</span></h1>
              <div *ngIf="yearScores.length > i">
                <progress max="1000" [value]="yearScores[i]" [ngStyle]="getAccentColor(yearScores[i])"></progress>
              </div>
            </h1>
            </div> 
      </div>
      <div *ngIf="isShow" class="resultsClass">
        <div class="yearTakenClass">
          <h1 >Taken in {{ph.year}}</h1>
        </div> 
        <div class="scoreClass" *ngIf="enableGeo">
          <h1>Location score &nbsp;<h1 [ngStyle]="getColor(geoScores[i])">  <span> {{ geoScores[i] }}</span></h1>
          <div *ngIf="geoScores.length > i">
            <progress max="1000" [value]="geoScores[i]" [ngStyle]="getAccentColor(geoScores[i])"></progress>
          </div>
        </h1>
        </div> 
  </div>
      <!-- <h1 *ngIf="isShow && displayAllRounds"  class="guess">Your guess {{answers[i]}}</h1> -->

        <app-slider *ngIf="enableYear && !displayAllRounds" (sliderEvent)="calculateYearScore($event)" [requestValEvent]="requestYearValues.asObservable()"></app-slider>
        <button *ngIf="!isShow" id="submit" class="button-54"  type="button" (click)="onSubmit()" >
          Submit
        </button>

        <div *ngIf="!displayAllRounds" class="nextRoundEndGameButtons">
          <button class="button-54" *ngIf="isShow && i < maxRoundNumber-1" type="button" (click)="next(); scroll(target);"
          [ngStyle]="getSumColor()">Next</button>
          <button class="button-54" *ngIf="isShow && i >= maxRoundNumber-1" type="button" (click)="endGame()"
            [ngStyle]="getSumColor()">End game</button>
        </div>
      </div>
    </div>
  </div>
  <h1 class="totalScoreClass" *ngIf="displayAllRounds">
    <button class="button-54" type="button" (click)="reloadPage()"
    [ngStyle]="getColor(totalScore / maxRoundNumber)">New Game</button>
  </h1>
</div>
