
#map {position: absolute; top: 0; bottom: 0; width: 90vw; height: 50vh; }



.map-wrap {

  .map {

    width: 80vw;
    height: 50vh;
    border-style: double;
    border-width: 10px;
    border-color: white;
    border-radius: 10px;
  }
}
  



