




.map-wrap {

  .map {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 30vw;
    height: 70vh;
    border-style: double;
    border-width: 10px;
    border-color: white;
    border-radius: 10px;
  .distance-container {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: 11px;
      line-height: 18px;
      display: block;
      margin: 0;
      padding: 5px 10px;
      border-radius: 3px;

      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
      font-size: 20px;
  }
  

}
}
  



