




.map-wrap {

  .map {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 30vw;
    height: 70vh;
    border-style: double;
    border-width: 10px;
    border-color: white;
    border-radius: 10px;
  }
}
  



